* {
    color: green;
}

body {
    background-color: #00d1ae;
}

h1 {
    color: #0000ff; 
    text-decoration: underline; 
   }

h2 {
    color: blueviolet;
    text-decoration: underline dotted blue;
}

p {
    width: 400px;
    text-indent: 50px;
    text-align: justify;
}
   
.menu {
    font-size: 40px;
    font-style: italic;
    width: 400px;
    height: 50px;
    background-color: white;
}

.content {
    font-size: 0.5em;
    width: 400px;
    height: 400px;
    background-color: red;
}

.important {
    font-weight: bold;
}

#cover-box1 {
    background-color: navy;
    font-weight: bolder;
    letter-spacing: 3px;
    text-align: center;
    color: pink;
    width: 100px;
    height: 50px;
}

#cover-box2 {
    background-color: grey;
    text-transform: uppercase;
    text-align: right;
    color: red;
    width: 200px;
    height: 80px;
}